 * body{
  background-color: black;
  color: white;
  margin:0 auto; 
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}


/* header and photo inside the header */
header{
  height: 100vh;
  background-image: url(Tutorial\ Website\ Blog\ Banner.png);
  background-size: cover;
  background-position: center;

  display: flex;
  align-content: left;
  justify-content: left;
}
 /* page layout to split and scroll */
section {
  display: flex;
  flex-direction: row;
}

section:nth-child(odd) {
 flex-direction: row-reverse;
}


section div{
  width: 50%;
}

section div.text{
  padding: 60px;
}

section div.full-image {
  height: 100vh;
  background-image: url(IMG_1343.JPG);
  background-size: cover;
  background-position: center;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

section div.image-2 {
  background-image: url(IMG_5651.JPG);
}

section div.image-3 {
  background-image: url(IMG_5531.JPG);
}

section div.image-4 {
  background-image: url(IMG_1531.JPG);
}

.pic {
  object-fit: fill;
}

body {
  font-family: "Lobster", sans-serif;
}

/* adjustments for screen  */
@media (max-width: 800px) {
   
  body {
    font-size: 16px;
  }

   h2 {
    font-size: 32px;
   }

   header {

    height: 75vw;
   }

   section {

    display: block;

   }

   section div {

    width: 100%;
   }

   section div.text {

    padding: 30px;

   }

   section div.full-image {

    height: 100vw;
   }

   

}






