 * body{
  background-color: #f6d8ac;
  color: black;
  margin:0 auto; 
}

header{
  height: 100vh;
  background-image: url(Tutorial\ Website\ Blog\ Banner.png);
  background-size: cover;
  background-position: center;

  display: flex;
  align-content: left;
  justify-content: left;
}

section {
  display: flex;
  flex-direction: row;
}

section:nth-child(odd) {
 flex-direction: row-reverse;
}


section div {
  width: 50%;
}

section div .text{
  padding: 60px;
}

section div .full-image {
  h
}












