 * body{
  background-color: #f6d8ac;
  color: black;
  margin:0 auto; 
}

header{
  height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center;

  display: flex;
  align-content: center;
  justify-content: center;
}














